@charset "UTF-8";


body {
  padding-top: 10px;
  text-align: left;
  padding-left: 100px;
  font-family: monaco, monospace;
 
  background-image: 
linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
linear-gradient(#eee .1em, transparent .1em);

  background-size: 100% 1.2em;
}
h1, h2 {
  display: inline-block;
  background: #fff;

}

span {
  background: #fd0;
}
